/* Apply Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom font */
@font-face {
  font-family: myFirstFont;
  src: url("../../public/fonts/RocaOne-Rg.ttf");
}
:root {
  --customBlack: #1f1f29;
}

/* Global styles */
body {
  background-color: #f9f4f4;
  font-family: myFirstFont !important;
  overflow-x: hidden !important;
}

/* Skills section styling */
.skills-section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .skills-section {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .skills-section {
    grid-template-columns: auto auto;
  }
}

.skills-section p {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}

.skills-section :nth-child(even) {
  background-color: black;
  color: #f9f4f4;
}

.skills-section :hover {
  background-color: black;
  color: #f9f4f4;
  transform: scale(1.1);
  transition-delay: 0.15s;
}

/* Styling for step indicators and lines */
.step-dot {
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: -30px;
}

.step-line {
  width: 2px;
  height: 62%;
  background: linear-gradient(to bottom, transparent 50%, #333 50%);
  background-size: 2px 10px;
  background-repeat: repeat-y;
  position: absolute;
  top: 53px;
  left: -25px;
}

/* Zoom effect on hover */
.zoom-effect:hover {
  transform: scale(1.2);
  transition: transform 0.8s ease-in-out;
}

/* Input and textarea styles */
input,
textarea {
  width: 100%;
  height: 35px;
  background-color: #f9f4f4;
}

/* Label alignment */
label {
  text-align: left !important;
}

/* Navigation link styles */
.nav-link {
  color: #1f1f29;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #1f1f29;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: -8px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.reveal {
  opacity: 1;
  transform: translateY(0);
}

.hero-section {
  /* Additional styling specific to the Hero section */
  /* ... */
}
