.circle,
.pentagon,
.square {
  width: 150px;
  height: 150px;
}
body,
input,
textarea {
  background-color: #f9f4f4;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.image-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}
.image-container {
  position: relative;
  overflow: hidden;
}
.hexagon:before,
.nav-link::before,
.pentagon:before,
.step-dot,
.step-line {
  position: absolute;
}
.image-container img {
  width: 100%;
  height: auto;
}
.circle {
  border-radius: 50%;
}
.hexagon {
  width: 100px;
  height: 150px;
}
.hexagon:before {
  content: "";
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  background-color: inherit;
  transform: skewY(30deg);
}
.skills-section :hover,
.skills-section :nth-child(2n) {
  background-color: #000;
  color: #f9f4f4;
}
.hexagon img {
  transform: skewY(-30deg);
}
.pentagon:before {
  content: "";
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 130px solid inherit;
}
@font-face {
  font-family: myFirstFont;
  src: url("../../public/RocaOne-Rg.ttf");
  font-display: swap;
}
:root {
  --customBlack: #1f1f29;
}
body {
  font-family: myFirstFont !important;
  overflow-x: hidden !important;
}
.skills-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .skills-section {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .skills-section {
    grid-template-columns: auto auto;
  }
}
.skills-section p {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}
.skills-section :hover {
  transform: scale(1.1);
  transition-delay: 0.15s;
}
.zoom-effect,
.zoom-effect:hover {
  border-radius: 50%;
  transition: transform 0.8s ease-in-out;
}
.step-dot {
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
  top: 55px;
  left: -30px;
}
.step-line {
  width: 2px;
  height: 62%;
  background: linear-gradient(to bottom, transparent 50%, #333 50%);
  background-size: 2px 10px;
  background-repeat: repeat-y;
  top: 53px;
  left: -25px;
}
.zoom-effect:hover {
  transform: scale(1.2);
}
input,
textarea {
  width: 100%;
  height: 35px;
}
label {
  text-align: left !important;
}
.nav-link {
  color: #1f1f29;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link::before {
  transition: 0.3s;
  height: 4px;
  content: "";
  background-color: #1f1f29;
}
.nav-link-ltr::before {
  width: 0%;
  bottom: -8px;
}
.nav-link-ltr:hover::before {
  width: 100%;
}
.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.section.reveal {
  opacity: 1;
  transform: translateY(0);
}
